.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgba(251, 255, 255,0.7);
    padding: 10px;
    border-radius: 10px;

    /* height: 100vw; */
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background: rgb(238, 78, 52,1);
    border: none;
    padding: 7px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: rgb(255, 251, 251);
    border-radius: 4px;
    cursor: pointer;
}

.checkoutProduct__info > button:hover{
    background:rgb(238, 78, 52,0.5) ;
}
.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}