footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  footer ul {
    list-style:none;
    margin: 0;
    padding: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin-left: 50px;
  margin-right: 50px;
  /* margin: auto; */

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
}

.copyright {
  font-size: 14px;
  margin: 0;
}

.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
}
col-sm-3 ul li a{

}

@media screen and (max-width:600px) {
    .row{
        height: 200px;
    }
}