/* .home_image{
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
    margin-bottom: -150px;
} */

.home{
    justify-content: center;
    margin-left: auto;
    /* background-color: #f9ffff; */
    background-color: #FCEDDA;
    margin-right: auto;
    /* background-image: linear-gradient(to bottom, #fcfcfc 60%,  #333 100%); */
}

.home_row{
    display: flex;
    z-index: 1;
    /* margin-left: 5px;
    margin-right: 5px; */
    /* flex-wrap: wrap; */
}


.Deals {
    margin-top: 60px;
    /* margin-bottom: 60px; */
    z-index: 10;
    color: black;

}
@media only screen and (max-width:630px){
    .home_row{
        flex-wrap: wrap;
        justify-content: center;
    }
}







