.login_logo{
    width: 100px;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    object-fit: contain;
    /* width: 100px;
    margin: 0 20px; */
    /* margin-top: 18px; */
    color: #98dee0;
    font-weight:normal;
    font-size: xx-large;
    align-items: center;
    text-decoration: none;
    /* letter-spacing: -0.05rem; */
}

.login{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100vh;
    background-color: white;
    justify-content: space-around;
    /* background-color: #f3feff; */
    /* background-color:#FCEDDA; */
    background-image: radial-gradient(#FCEDDA,rgba(252, 237, 218,0.7))
    

}

.login_container{
    display: flex;
    flex-direction: column;
    max-height: max-content;
    height: fit-content;
    max-width: 700px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 10px;
    align-items: center;

}

.login_signIn_button{
    border: 1px solid;
    border-radius: 2px ;
    width: 50%;
    margin-bottom: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    background-color: #AA96DA;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 27px;
    font-size: medium;
    
}
.login_signIn_button:hover{
    cursor: pointer;
    transition:ease-in-out;
    background-color: rgba(238, 78, 52,0.5);
}
.login_container > h1{
    font-weight: 500;
    padding: 15px;
}

.login_privacyPolicy{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 10px;
    gap:10px;
}

.login_container > form > h5{
    margin: 5px 0;
}

.login_container > form > input{

    height: 15px;
    margin-bottom: 10px;
    /* margin-left: 10px; */
    background-color: white;
    width: 80%;
    border:1px solid #7a5e03;
    background-color: white;
    border-radius: 3px;
}

.login_privacyPolicy > input{
    height: 100%;
    width:20px;
    border: 2px solid;
}

.login_container > button{
    border: none;
    border-radius: 4px ;
    margin-bottom: 10px;
    color: white;
    padding: 10px;
    background-color: #EE4E34;
    
    font-size: 15px;
    transition: all 1s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login_container > button:hover{
    cursor: pointer;
    background-color: rgba(238, 78, 52,0.7);
}
