.login_logo{
    width: 100px;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    object-fit: contain;
    /* width: 100px;
    margin: 0 20px; */
    /* margin-top: 18px; */
    color: #98dee0;
    font-weight:normal;
    font-size: xx-large;
    align-items: center;
    text-decoration: none;
    /* letter-spacing: -0.05rem; */
}

.login{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

.login_container{
    display: flex;
    flex-direction: column;
    
    height: fit-content;
    width: 300px;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;

}

.login_signIn_button{
    border: 1px solid;
    border-radius: 2px ;
    width: 100%;
    margin-bottom: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    background-color: #7fd2d5;
    height: 30px;
    font-size: medium;
    
}
.login_signIn_button:hover{
    cursor: pointer;
    transition:ease-in-out;
    background-color: #cff8fa;
}
.login_container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login_privacyPolicy{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.login_container > form > h5{
    margin: 5px 0;
}

.login_container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 97%;
    border:1px solid #433c24;
    background-color: white;
}

.login_privacyPolicy > input{
    height: 100%;
    width:20px;
    border: 2px solid;
}

.login_container > button{
    border: 1px solid;
    border-radius: 4px ;
    margin-bottom: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    background-color: #7fd2d5;
    height: 30px;
    font-size: medium;
}
.login_container > button:hover{
    cursor: pointer;
    background-color: #caf0f1;
}