.product{
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: flex-end;
    background-color: rgba(251, 255, 255,0.7);
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(68, 68, 69, 0.56) 0px 22px 70px 4px;
    transition: all 500ms;
    /* max-width: 400px;
    min-width: 100px; */
    

}
.product:hover{
    cursor:pointer;
    /* box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    transform:scale(1.03);
}
.product > img{
    background-color: transparent;
    width: 100%;
    height: 150px;
    width: 150px;
    object-fit: contain;
    margin-bottom: 15px;
}
.product button:hover{
    background-color: rgb(238, 78, 52,0.5);
}

.product > button {
    background: #EE4E34;
    border: none;
    padding: 7px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    cursor: pointer;
}
.product_info{
    width: 100%;
    text-transform: capitalize;
}

.product_price{
    margin-top: 5px;
}

.product_rating{
    display: flex;
}

@media only screen and (max-width:650px){
    .product{
        width: 80%;
    }
    
}