.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 210px;
    border: 3px solid lightgrey;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
}

.subtotal_gift > input{
    margin-right: 5px;
}

.subtotal > button{
    background-color:#EE4E34;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.subtotal > button:hover{
    background-color:rgb(238, 78, 52,0.5);
}
.subtotal_gift{
    display: flex;
}